PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0
Server={{ zabbix_server }},{{ k3s_pod_range }}
ServerActive={{ zabbix_server }}
Hostname={{ ansible_hostname }}
Include=./zabbix_agent2.d/plugins.d/*.conf
