- name: Deploy GitHub Actions Runner Container
  community.docker.docker_container:
    name: "gha-runner"
    image: "ghcr.io/binary-braids/github-actions-runner:latest@sha256:e75e8f5e8f8d724fd13c2182831d284e7fc3e7895509f0ad37d0e3224f02f220"
    restart_policy: always
    networks:
      - name: "proxy"
    env:
      ORGANIZATION: "{{ GH_ORG_URL }}"
      ACCESS_TOKEN: "{{ GH_ORG_TOKEN }}"
      CUSTOM_NAME: "{{ GH_CUSTOM_NAME }}"
