[libdefaults]
        default_realm = {{ KRB5_DEFAULT_REALM }}

# The following krb5.conf variables are only for MIT Kerberos.
        krb4_config = /etc/krb.conf
        krb4_realms = /etc/krb.realms
        kdc_timesync = 1
        ccache_type = 4
        forwardable = true
        proxiable = true

[realms]
        {{ KRB5_DEFAULT_REALM }} = {
            kdc = {{ PRIMARY_SERVER }}
            kdc = {{ SECONDARY_SERVER }}
            default_domain = {{ REALM_DOMAIN }}
}

[domain_realm]
        .{{ REALM_DOMAIN }} = {{ KRB5_DEFAULT_REALM }}
        {{ REALM_DOMAIN }} = {{ KRB5_DEFAULT_REALM }}

[login]
        krb4_convert = true
        krb4_get_tickets = false