{
    "services": {
        "discord": {
            "webhook": "#{discord_webhook}#",
            "user_id": "#{discord_user_id}#"
        }
    },
    "mentions": {
        "on_failure": false,
        "on_warning": false
    },
    "notifications": {
        "on_success": true,
        "on_failure": true,
        "on_warning": true
    },
    "logging": {
        "enabled": true,
        "level": "info",
        "max_age_days": 7
    },
    "update": {
        "notify": true,
        "auto_update": false,
        "auto_update_comment": "auto_update will NOT work. Leave as 'false'"
    },
    "thumbnail": "https://raw.githubusercontent.com/tigattack/VeeamDiscordNotifications/master/asset/thumb01.png"
}