- name: deploy TFTP Network
  docker_network:
    name: "tftpd-hpa"

- name: deploy TFTP Container
  docker_container:
    name: "tftpd-hpa"
    image: "3x3cut0r/tftpd-hpa:latest@sha256:e6382e6e3bf0aa10db0ddc676b31b4ce47e5e4cc07671c3f26a310901a7d899a"
    restart_policy: always
    networks:
      - name: "tftpd-hpa"
    published_ports:
      - "69:69"
    volumes:
      - "/var/lib/docker/tftpd-hpa:/tftpboot"
