- name: deploy Komodo Container Network 
  docker_network:
    name: "komodo"
  when: "'pi' in group_names"  

- name: Create Komodo DB Postgres Data Volume
  community.docker.docker_volume:
    name: komodo-db-postgres-data
  when: "'pi' in group_names"  

- name: deploy Komodo DB Postgres Container
  docker_container:
    name: "komodo-db-postgres"
    image: "ghcr.io/ferretdb/postgres-documentdb:17-0.107.0-ferretdb-2.7.0@sha256:2386795ec2aa7ae559304361979f1dc5708d383ee9020ae63dadc2940dfe58f7"
    restart_policy: always
    networks:
      - name: "komodo"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "komodo-db-postgres-data:/var/lib/postgresql/data"
    env:  
      TZ: "Africa/Johannesburg"
      POSTGRES_USER: "{{ KOMODO_DB_USERNAME }}"
      POSTGRES_PASSWORD: "{{ KOMODO_DB_PASSWORD }}"
      POSTGRES_DB: postgres     
    labels:
      komodo.skip:
  when: "'pi' in group_names"

- name: Create Komodo DB FerretDB Data Volume
  community.docker.docker_volume:
    name: komodo-db-ferretdb-data
  when: "'pi' in group_names"

- name: deploy Komodo DB FerretDB Container
  docker_container:
    name: "komodo-db-ferretdb"
    image: "ghcr.io/ferretdb/ferretdb:2.7.0@sha256:5706414241eb84f0515512c37b46db0f1b1eac9e5ceb7e4c2523211c184b1985"
    restart_policy: always
    networks:
      - name: "komodo"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "komodo-db-ferretdb-data:/state"
    env:
      TZ: "Africa/Johannesburg"  
      FERRETDB_POSTGRESQL_URL: postgres://{{ KOMODO_DB_USERNAME }}:{{ KOMODO_DB_PASSWORD }}@komodo-db-postgres:5432/postgres    
    labels:
      komodo.skip:
  when: "'pi' in group_names"

- name: Create Komodo Core Data Volume
  community.docker.docker_volume:
    name: komodo-core-data
  when: "'pi' in group_names"

- name: deploy Komodo Core Container
  docker_container:
    name: "komodo-core"
    image: "ghcr.io/moghtech/komodo-core:1.19.5"
    restart_policy: always
    networks:
      - name: "komodo"
      - name: "proxy"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "komodo-core-data:/backups"
    env:
      TZ: "Africa/Johannesburg"
      KOMODO_DATABASE_ADDRESS: komodo-db-ferretdb:27017
      KOMODO_FIRST_SERVER: https://komodo-periphery:8120
      KOMODO_DATABASE_USERNAME: "{{ KOMODO_DB_USERNAME }}"
      KOMODO_DATABASE_PASSWORD: "{{ KOMODO_DB_PASSWORD }}" 
      KOMODO_PASSKEY: "{{ KOMODO_PASSKEY }}"    
      KOMODO_HOST: "{{ KOMODO_HOST }}"
      KOMODO_LOCAL_AUTH: "true"
      KOMODO_INIT_ADMIN_USERNAME: "{{ KOMODO_INIT_ADMIN_USERNAME }}"
      KOMODO_INIT_ADMIN_PASSWORD: "{{ KOMODO_INIT_ADMIN_PASSWORD }}"
      KOMODO_FIRST_SERVER_NAME: "{{ inventory_hostname_short }}"
    labels:
      komodo.skip:  
      traefik.enable: "true"
      traefik.http.routers.komodo.entrypoints: "websecure"
      traefik.http.routers.komodo.rule: "Host(`{{ komodo_url }}`)"
      traefik.http.routers.komodo.tls: "true"
      traefik.http.routers.komodo.service: "komodo"
      traefik.http.services.komodo.loadbalancer.server.port: "9120"
      traefik.docker.network: "proxy"  
  when: "'pi' in group_names"  

- name: deploy Komodo Periphery Container
  docker_container:
    name: "komodo-periphery"
    image: "ghcr.io/moghtech/komodo-periphery:1.19.5@sha256:bd79cf960ed054fe8e02384322303e462448679b1149dde48bbef151417255b1"
    restart_policy: always
    networks: "{{ [{ 'name': 'komodo' }] if 'pi' in group_names else omit }}"
    ports: "{{ ['8120:8120'] if 'pi' not in group_names else omit }}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/proc:/proc"
    env:
      TZ: "Africa/Johannesburg"
      KOMODO_PASSKEY: "{{ KOMODO_PASSKEY }}" 
    labels:
      komodo.skip: 
  
