- name: deploy Komodo Container Network 
  docker_network:
    name: "komodo"

- name: Create Komodo DB Data Volume
  community.docker.docker_volume:
    name: komodo-db-data

- name: Create Komodo DB Config Volume
  community.docker.docker_volume:
    name: komodo-db-config

- name: deploy Komodo DB Container
  docker_container:
    name: "komodo-db"
    image: "mongo"
    restart_policy: always
    networks:
      - name: "komodo"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "komodo-db-data:/data/db"
      - "komodo-db-config:/data/configdb"
    env:
      MONGO_INITDB_ROOT_USERNAME: {{ KOMODO_DB_USERNAME }}
      MONGO_INITDB_ROOT_PASSWORD: {{ KOMODO_DB_PASSWORD }}      
    labels:
      komodo.skip:

- name: Create Komodo Core Data Volume
  community.docker.docker_volume:
    name: komodo-core-data

- name: deploy Komodo Core Container
  docker_container:
    name: "komodo-core"
    image: "ghcr.io/moghtech/komodo-core:latest"
    restart_policy: always
    depends_on:
      - "komodo-db"
    networks:
      - name: "komodo"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "komodo-core-data:/backups"
    env:
      KOMODO_DATABASE_ADDRESS: komodo-db:27017
      KOMODO_DATABASE_USERNAME: {{ KOMODO_DB_USERNAME }}
      KOMODO_DATABASE_PASSWORD: {{ KOMODO_DB_PASSWORD }} 
      KOMODO_PASSKEY: {{ KOMODO_PASSKEY }}    
      KOMODO_HOST: {{ KOMODO_HOST }}
    labels:
      komodo.skip:     

- name: deploy Komodo Periphery Container
  docker_container:
    name: "komodo-periphery"
    image: "ghcr.io/moghtech/komodo-periphery:latest"
    restart_policy: always
    networks:
      - name: "komodo"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/proc:/proc"
    env:
      KOMODO_PASSKEY: {{ KOMODO_PASSKEY }} 
    labels:
      komodo.skip:
      traefik.enable: "true"
      traefik.http.routers.komodo.entrypoints: "http"
      traefik.http.routers.komodo.rule: "Host(`{{ komodo_url }}`)"
      traefik.http.middlewares.komodo-https-redirect.redirectscheme.scheme: "https"
      traefik.http.routers.komodo.middlewares: "komodo-https-redirect"
      traefik.http.routers.komodo-secure.entrypoints: "https"
      traefik.http.routers.komodo-secure.rule: "Host(`{{ komodo_url }}`)"
      traefik.http.routers.komodo-secure.tls: "true"
      traefik.http.routers.komodo-secure.service: "komodo"
      traefik.http.services.komodo.loadbalancer.server.port: "9120"
      traefik.docker.network: "proxy"   
  
