- name: Create Traefik Data Volume
  community.docker.docker_volume:
    name: traefik-data

- name: Copy acme.json
  ansible.builtin.template:
    src: acme.json.j2
    dest: "{{ traefik_config_files_destination }}/acme.json"
    owner: root
    group: root
    mode: 0600
    force: false
    backup: yes

- name: Copy config.yml
  ansible.builtin.template:
    src: config.yml.j2
    dest: "{{ traefik_config_files_destination }}/config.yml"
    owner: root
    group: root
    mode: 0644
    force: false
    backup: yes

- name: Copy traefik.yml
  ansible.builtin.template:
    src: traefik.yml.j2
    dest: "{{ traefik_config_files_destination }}/traefik.yml"
    owner: root
    group: root
    mode: 0644
    force: false
    backup: yes

- name: deploy Traefik Proxy Network
  docker_network:
    name: "proxy"

- name: deploy Traefik Container
  community.docker.docker_container:
    name: "traefik"
    image: "traefik:latest@sha256:3f92eba47bd4bfda91d47b72d16fef2d7ae15db61a92b2057cf0cb389f8938f6"
    restart_policy: always
    networks:
      - name: "proxy"
    env:
      CF_API_EMAIL: "{{ cloudflare_email_address }}"
      CF_DNS_API_TOKEN: "{{ cloudflare_api_token }}"
    published_ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/etc/localtime:/etc/localtime:ro"
      - "traefik-data:/traefik.yml:ro"
      - "traefik-data:/acme.json"
      - "traefik-data:/config.yml:ro"
      - "traefik-data:/var/log/traefik"
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.entrypoints: "http"
      traefik.http.routers.traefik.rule: "Host(`{{ traefik_dashboard_url }}`)"
      traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme: "https"
      traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto: "https"
      traefik.http.routers.traefik.middlewares: "traefik-https-redirect"
      traefik.http.routers.traefik-secure.entrypoints: "https"
      traefik.http.routers.traefik-secure.rule: "Host(`{{ traefik_dashboard_url }}`)"
      traefik.http.routers.traefik-secure.tls: "true"
      traefik.http.routers.traefik-secure.tls.certresolver: "cloudflare"
      traefik.http.routers.traefik-secure.tls.domains[0].sans: "*.{{ domain_name }}"
      traefik.http.routers.traefik-secure.service: "api@internal"
    
