- name: Create Traefik Data Volume
  community.docker.docker_volume:
    name: traefik-data
  register: traefik_volume

- name: Create Crowdsec Data Volume
  community.docker.docker_volume:
    name: crowdsec-data
  register: crowdsec_volume
  when:
    - DEPLOY_CROWDSEC | bool

- name: Copy appsec.yml
  ansible.builtin.template:
    src: appsec.yml.j2
    dest: "{{ crowdsec_volume.volume.Mountpoint }}/appsec.yml"
    owner: root
    group: root
    mode: 0644
    force: false
    backup: yes
  when:
    - DEPLOY_CROWDSEC | bool

- name: Copy acme.json
  ansible.builtin.template:
    src: acme.json.j2
    dest: "{{ traefik_volume.volume.Mountpoint }}/acme.json"
    owner: root
    group: root
    mode: 0600
    force: false
    backup: yes

- name: Copy config.yml
  ansible.builtin.template:
    src: config.yml.j2
    dest: "{{ traefik_volume.volume.Mountpoint }}/config.yml"
    owner: root
    group: root
    mode: 0644
    force: false
    backup: yes
  when:
    - DEPLOY_CROWDSEC | bool

- name: Copy traefik.yml
  ansible.builtin.template:
    src: traefik.yml.j2
    dest: "{{ traefik_volume.volume.Mountpoint }}/traefik.yml"
    owner: root
    group: root
    mode: 0644
    force: false
    backup: yes

- name: deploy Crowdsec Network
  docker_network:
    name: "crowdsec"
  when:
    - DEPLOY_CROWDSEC | bool

- name: deploy Traefik Proxy Network
  docker_network:
    name: "proxy"

- name: deploy Crowdsec Container
  community.docker.docker_container:
    name: "crowdsec"
    image: "crowdsecurity/crowdsec"
    restart_policy: always
    networks:
      - name: "proxy"
    env:
      TZ: "Africa/Johannesburg"
      COLLECTIONS: "crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios crowdsecurity/appsec-generic-rules crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-crs"
      CUSTOM_HOSTNAME: crowdsec
      BOUNCER_KEY_TRAEFIK: "{{ crowdsec_lapi_key }}"
    volumes:
      - "{{ crowdsec_volume.volume.Mountpoint}}/appsec.yml:/etc/crowdsec/acquis.d/appsec.yaml"
      - "{{ traefik_volume.volume.Mountpoint }}/var/log/traefik:/var/log/traefik:ro"
      - "crowdsec-data:/etc/crowdsec/"
      - "/var/log:/var/log:ro"
      - "crowdsec-data:/var/lib/crowdsec/data/"
    labels:
      traefik.enable: "false"
  when:
    - DEPLOY_CROWDSEC | bool

- name: deploy Traefik Container
  community.docker.docker_container:
    name: "traefik"
    image: "traefik:3.6.2"
    restart_policy: always
    networks:
      - name: "proxy"
    env:
      TZ: "Africa/Johannesburg"
      CF_API_EMAIL: "{{ cloudflare_email_address }}"
      CF_DNS_API_TOKEN: "{{ cloudflare_api_token }}"
    published_ports:
      - "80:80"
      - "443:443"
    volumes: >-
      {{
        [
          "/var/run/docker.sock:/var/run/docker.sock",
          traefik_volume.volume.Mountpoint + "/traefik.yml:/etc/traefik/traefik.yml:ro",
          traefik_volume.volume.Mountpoint + "/acme.json:/etc/traefik/acme/acme.json",
          "traefik-data:/var/log/traefik"
        ] + 
        ([traefik_volume.volume.Mountpoint + "/config.yml:/config.yml:ro"] if DEPLOY_CROWDSEC | bool else [])
      }}
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.entrypoints: "http"
      traefik.http.routers.traefik.rule: "Host(`{{ traefik_dashboard_url }}`)"
      traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme: "https"
      traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto: "https"
      traefik.http.routers.traefik.middlewares: "traefik-https-redirect"
      traefik.http.routers.traefik-secure.entrypoints: "https"
      traefik.http.routers.traefik-secure.rule: "Host(`{{ traefik_dashboard_url }}`)"
      traefik.http.routers.traefik-secure.tls: "true"
      traefik.http.routers.traefik-secure.tls.certresolver: "cloudflare"
      traefik.http.routers.traefik-secure.tls.domains[0].sans: "*.{{ domain_name }}"
      traefik.http.routers.traefik-secure.service: "api@internal"